@import url(fancybox.css);

#wrapper{

	width: 1000px;

	margin-right: auto;

	margin-left: auto;

	margin-top:5px;

	

	

}

#wrapper #header {

background-image:url(../images/header.jpg);

	

	float: left;

	height: 200px;

	width: 1000px;

	



-webkit-border-top-right-radius: 20px;

-webkit-border-top-left-radius: 20px;

-khtml-border-top-right-radius: 20px;

-khtml-border-top-left-radius: 20px;

-webkit-box-shadow: 3px 20px 8px #000;

-moz-box-shadow: 3px 20px 8px #000;

}

body {



	}

	

	

	#wrapper #tengah{

	width:1000px;

	float:left;

	}

#wrapper #footer {

	float: left;

	height: 30px;

	width: 1000px;
	background-color:#FFCC00;

	

	-webkit-border-bottom-right-radius: 20px;

-webkit-border-bottom-left-radius: 20px;

-khtml-border-bottom-right-radius: 20px;

-khtml-border-bottom-left-radius: 20px;

	text-align:center;

	margin-bottom: 10px;

	-webkit-box-shadow: 3px 5px 8px #000;

	-moz-box-shadow: 3px 5px 8px #000;

	

}

#wrapper #content #contentkiri {

	float: left;

	width: 200px;

	background-color:#f6f6f6;

	

	}

#wrapper #content #contentkanan {

	float: left;

	width: 780px;

	margin-top: 5px;

	margin-right: 5px;

	background-color:;

	height:auto;

	margin-bottom:5px;

	margin-left:5px;

	 

	

}

#wrapper #content #clearer {

	clear: both;

}









#wrapper #content {

	float: left;

	width: 1000px;

	background-color:#E8E8E8;

	height:auto;

	

	

	

	-webkit-box-shadow: 3px 20px 8px #000;

	-moz-box-shadow: 3px 20px 8px #000;

	





}





ul#navigation {

position:fixed;

margin: 0px;

padding: 0px;

top: 0px;

right: 0px;

list-style: none;

z-index:9999999;

width:700px;

border:0px;



}

ul#navigation li {

width: 90px;

display:inline;

float:left;

border:0;



}

ul#navigation li a {

display: block;

float:left;

margin-top: -2px;

width: 75px;

height: 22px;

background-color:#FFCC00;



border:1px solid #ffffff;

-moz-border-radius:0px 0px 10px 10px;

-webkit-border-bottom-right-radius: 10px;

-webkit-border-bottom-left-radius: 10px;

-khtml-border-bottom-right-radius: 10px;

-khtml-border-bottom-left-radius: 10px;

text-decoration:none;

text-align:center;

padding-top:85px;



-webkit-box-shadow: 3px 5px 8px #000;

-moz-box-shadow: 3px 5px 8px #000;

}



ul#navigation li a:hover{

background-color:transparent;





filter: alpha(opacity=70);

	-moz-opacity: 0.7;

	-khtml-opacity: 0.7;

	opacity: 0.7;

   

}



ul#navigation li a{

letter-spacing:2px;

font-size:10px;

color:#ffffff;

font-family:Verdana, Geneva, sans-serif;

font-weight:bold;

}

ul#navigation .nav1 a{

	background-image:url(../images/home.png);

	background-repeat: no-repeat;

	background-position: center;

}







ul#navigation .nav2 a {

background-image: url();

}

ul#navigation .nav3 a {



background-image:url(../images/Book-icon.png);

background-repeat:no-repeat;

background-position:center;

}



ul#navigation .nav4 a {

background-image:url(../images/kunci.png);

background-repeat:no-repeat;

background-position:center;

}



ul#navigation .nav5 a {

background-image:url(../images/login.png);

background-repeat:no-repeat;

background-position:center;

}





.trkepala{

background-color:#8000FF;

color:#FFFFFF;





}

.tdgrid{

border-right:thin solid #FFCC00;

}





.tips{

font-weight:bold;

}



.tips input 

{

height:20px;

background-color:;

}





.grid1{

border:none;

background:none;

height:25px;



}

.trseragam{

background-color:#FFFFFF;

}



.trseragam:hover{

background-color:#00FFFF;

}



.lengkung{

-webkit-border-top-right-radius: 3px;

-webkit-border-top-left-radius: 3px;

-khtml-border-top-right-radius: 3px;

-khtml-border-top-left-radius: 3px;

-webkit-border-bottom-right-radius: 3px;

-webkit-border-bottom-left-radius: 3px;

-khtml-border-bottom-right-radius: 3px;

-khtml-border-bottom-left-radius: 3px;

-moz-border-radius-topright:3px;

-moz-border-radius-bottomright:3px;

-moz-border-radius-topleft:3px;

-moz-border-radius-bottomleft:3px;



border:#CC9900 thin solid;

background-color:#F2F2F2;

margin-top:5px;

margin-bottom:5px;

margin-left:5px;

height:25px;

}



.glassy_btn{

background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(2,168,228)),color-stop(0.06, rgb(0,172,229)),color-stop(0.07, rgb(71,189,240)),    color-stop(0.3, rgb(20,123,182)),color-stop(0.53, rgb(0,80,129)),color-stop(0.96, rgb(114,149,181)),color-stop(0.97, rgb(2,54,97)));

background-image:-moz-linear-gradient(center bottom,rgb(2,168,228) 0%,rgb(0,172,229) 6%,rgb(71,189,240) 7%,rgb(20,123,182) 30%,rgb(0,80,129) 53%,rgb(114,149,181) 96%,rgb(2,54,97) 97%);

background-color:#1c608c;

width:120px;

height:25px;

color:#FFFFFF;

}



.glassy_btn:hover{

background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(2,168,228)),color-stop(0.06, rgb(0,172,229)),color-stop(0.07, rgb(71,189,240)),    color-stop(0.3, rgb(20,123,182)),color-stop(0.53, rgb(0,80,129)),color-stop(0.96, rgb(114,149,181)),color-stop(0.97, rgb(2,54,97)));

background-image:-moz-linear-gradient(center bottom,rgb(2,168,228) 0%,rgb(0,172,229) 6%,rgb(71,189,240) 7%,rgb(20,123,182) 30%,rgb(0,80,129) 53%,rgb(114,149,181) 96%,rgb(2,54,97) 97%);

background-color:#1c608c;

width:120px;

height:25px;

color:#FF6600;

cursor:pointer;

}



#contenttable a img {

  border: none;/*remove border for linked images*/

  background-color: #fff;

	padding: 2px;

	margin: 3px 5px 3px 0;

	border: 1px solid #0066B3;

	float: left;

	-moz-border-radius:4px;

	-webkit-border-radius:4px;

}